.home-navbar{
    background-color:#3E3E3B;
    color: #4C586F;
}

body{
    background-image: url(../res/wallpaper.png);
    background-attachment: fixed;
    background-size: cover;
}

.whitewash-text{
    color:#EBECED ;
}

.whitewash-text:hover{
    color:#CBC5C1; 
}

#main-content{
  width:800px;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
}

.meme-container{
    background-color:#EBECED;
    padding:50px;
    margin-top: 75px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 10px;
}

.post-title{
    color: #3E3E3B;
    font-size: 30px;
}

.navbar{
    display: inherit;
}

.right-floater{
    float: right;
}